@using Jeugdhuis.Components.Pages
@using Jeugdhuis.Models
@using Microsoft.EntityFrameworkCore
@using Radzen
@inject AppDbContext _dbContext
@inject DialogService DialogService
@inject NotificationService NotificationService


<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a href=""><img src="jhdecaravan.png" style="width:42px;height:42px;"></a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-cart-fill"></span> Bestelling
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="leden">
                <span class="bi bi-people-fill"></span> Leden
            </NavLink>
        </div>

        <AuthorizeView Roles="Admin">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="bestuursleden">
                    <span class="bi bi-person-badge-fill"></span> Bestuursleden
                </NavLink>
            </div>
        </AuthorizeView>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="drinks">
                <span class="bi bi-cup-straw"></span> Dranken
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="lidkaarten">
                <span class="bi bi-credit-card-fill"></span> Lidkaarten
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="lichten">
                <span class="bi bi-lightbulb-fill"></span> Lichten
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/payconiq/payments">
                <span class="bi bi-cash-stack"></span> Payconiq Payments
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/bestelling">
                <span class="bi bi-cart-check-fill"></span> Bestellingen
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <RadzenButton Text="Controleer kaart"
                          ButtonStyle="ButtonStyle.Success"
                          Click="OpenAddCardBalanceDialog" />
        </div>
    </nav>
</div>

@code {
    private async Task OpenAddCardBalanceDialog()
    {
        NfcCard result = await DialogService.OpenAsync<AddBalanceDialog>("Kaart opwaarderen", null,
            new DialogOptions() { Width = "500px", Height = "400px" });

        if (result != null)
        {
            try
            {
                NfcCard nfcCard = await _dbContext.NfcCards.Include(x => x.User).FirstAsync(x => x.CardId == result.CardId);

                nfcCard.Balance += result.Balance;

                _dbContext.NfcCards.Update(nfcCard);
                await _dbContext.SaveChangesAsync();

                NotificationService.Notify(new NotificationMessage
                    {
                        Severity = NotificationSeverity.Success,
                        Summary = "Lidkaart opgewaardeerd!",
                        Detail = $"U heeft met succes de lidkaart met ID {result.CardId} opgewaardeerd. Nieuwe balans is: €{nfcCard.Balance}."
                    });
            }
            catch (Exception ex)
            {
                NotificationService.Notify(NotificationSeverity.Error, "Fout", $"Er is een fout opgetreden bij aanmaken van de lidkaart.");
            }
        }
    }
}
