@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, simon!</h1>

<RadzenButton Click="@ButtonClicked" Text="Hi"></RadzenButton>
@code {
  void ButtonClicked()
  {
    // Handle the Click event of RadzenButton
  }
}